<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset = "utf-8">
  <title><%= @title %></title>
</head>
<body>

  <img  id ="portrait" src="images/<%= @imagefile %>"  alt="Photograph">

  <div><%= @content %></div>

  <div>environment = <%= @environment %></div>
  <div>root = <%= @root %></div>
  <div>app_file = <%= @app_file %></div>
  <div>public_folder = <%= @public %></div>
  <div>views = <%= @views %></div>
  <div>path_info = <%= @path_info %></div>
  <div>static = <%= @static %></div>
  <div>port = <%= @port %></div>
  <div>host Name = <%= @host %></div>
  <div>host IP = <%= @host_ip %></div>
  <div>user_agent = <%= @user_agent %></div>
  <div>url = <%= @url %></div>
  <div>path = <%= @path %></div>
  <div>client_ip = <%= @ip %></div>
  <div>host_name = <%= @host_name %></div>
  <div>Load_Path = <%= @loadpath %></div>

</body>
</html>
